body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background: white;    
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

th,td{
    padding: 8px;
    margin-top: 10px;
}